# Predikce známky z kurzů matematiky a portugalištiny

Predikce finální známky z kurzů matematiky a portugalištiny na základě rodinného zázemí a konzumace alkoholu. Dataset obsahuje 33 atributů a je dostupný z https://www.kaggle.com/uciml/student-alcohol-consumption

## Původní popis z kagglu TODO: Přepsat do češtiny?

### Context

The data were obtained in a survey of students math and portuguese language courses in secondary school. It contains a lot of interesting social, gender and study information about students. You can use it for some EDA or try to predict students final grade.

### Content

Attributes for both student-mat.csv (Math course) and student-por.csv (Portuguese language course) datasets:

- school - student's school (binary: 'GP' - Gabriel Pereira or 'MS' - Mousinho da Silveira)
- sex - student's sex (binary: 'F' - female or 'M' - male)
- age - student's age (numeric: from 15 to 22)
- address - student's home address type (binary: 'U' - urban or 'R' - rural)
- famsize - family size (binary: 'LE3' - less or equal to 3 or 'GT3' - greater than 3)
- Pstatus - parent's cohabitation status (binary: 'T' - living together or 'A' - apart)
- Medu - mother's education (numeric: 0 - none, 1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
- Fedu - father's education (numeric: 0 - none, 1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
- Mjob - mother's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')
- Fjob - father's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')
- reason - reason to choose this school (nominal: close to 'home', school 'reputation', 'course' preference or 'other')
- guardian - student's guardian (nominal: 'mother', 'father' or 'other')
- traveltime - home to school travel time (numeric: 1 - 1 hour)
- studytime - weekly study time (numeric: 1 - 10 hours)
- failures - number of past class failures (numeric: n if 1<=n<3, else 4)
- schoolsup - extra educational support (binary: yes or no)
- famsup - family educational support (binary: yes or no)
- paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)
- activities - extra-curricular activities (binary: yes or no)
- nursery - attended nursery school (binary: yes or no)
- higher - wants to take higher education (binary: yes or no)
- internet - Internet access at home (binary: yes or no)
- romantic - with a romantic relationship (binary: yes or no)
- famrel - quality of family relationships (numeric: from 1 - very bad to 5 - excellent)
- freetime - free time after school (numeric: from 1 - very low to 5 - very high)
- goout - going out with friends (numeric: from 1 - very low to 5 - very high)
- Dalc - workday alcohol consumption (numeric: from 1 - very low to 5 - very high)
- Walc - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)
- health - current health status (numeric: from 1 - very bad to 5 - very good)
- absences - number of school absences (numeric: from 0 to 93)

These grades are related with the course subject, Math or Portuguese:

1. G1 - first period grade (numeric: from 0 to 20)
2. G2 - second period grade (numeric: from 0 to 20)
3. G3 - final grade (numeric: from 0 to 20, output target)

## README
Je nutné spustit všechny bloky. Záložka `Cell->Run All`

Proměnná `data` obsahuje veškerá data v ošetřené podobě pro analýzu.

Z této promměnné byly vytvořeny subsety:

- `data_math` obsahuje všechny studenty matematiky
- `data_portuguese` obsahuje všechny studenty portugalštiny
- `data_both` obsahuje všechny studenty, kteří mají oba předměty
- `data_math_only` obsahuje všechny studenty, kteří mají pouze matematiku
- `data_portugues_only` obsahuje všechny studenty, kteří mají pouze portugalštinu

## Načtení dat z CSV a nastavení pandas zobrazení

In [1400]:
import pandas as pd

pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 50)

math = pd.read_csv("data/student-mat.csv")
portuguese = pd.read_csv("data/student-por.csv")

## Atributy datasetu matematiky
Dataset předmětu matematiky má 395 záznamů.

In [1401]:
math_records_count = math.count()

print('Math attributes with number of records:\n')
print(math_records_count)

Math attributes with number of records:

school        395
sex           395
age           395
address       395
famsize       395
Pstatus       395
Medu          395
Fedu          395
Mjob          395
Fjob          395
reason        395
guardian      395
traveltime    395
studytime     395
failures      395
schoolsup     395
famsup        395
paid          395
activities    395
nursery       395
higher        395
internet      395
romantic      395
famrel        395
freetime      395
goout         395
Dalc          395
Walc          395
health        395
absences      395
G1            395
G2            395
G3            395
dtype: int64

## Atributy datasetu portugalštiny
Dataset předmětu portugalštiny má 649 záznamů.

In [1402]:
potuguese_records_count = portuguese.count()

print('Potruguese attributes with number of records:\n')
print(potuguese_records_count)

Potruguese attributes with number of records:

school        649
sex           649
age           649
address       649
famsize       649
Pstatus       649
Medu          649
Fedu          649
Mjob          649
Fjob          649
reason        649
guardian      649
traveltime    649
studytime     649
failures      649
schoolsup     649
famsup        649
paid          649
activities    649
nursery       649
higher        649
internet      649
romantic      649
famrel        649
freetime      649
goout         649
Dalc          649
Walc          649
health        649
absences      649
G1            649
G2            649
G3            649
dtype: int64

## Sloučení datasetů TODO: Znázornit outer join
Někteří studenti jsou zároveň v obou předmětech. Data jsou anonymizovaná a neobsahují jednoznačné identifikátory, podle kterých by se daly datasety snadno sloučit.  
Autoři doporučují sloučit datasety podle atributů, které jsou pro každého studenta v obou předmětech totožné a identifikují je tak. Sami vytvořili soubor v R, který datasety slučuje a vyšlo jim 382 studentů, kteří mají oba předměty. Nicméně v [diskuzi k datasetu](https://www.kaggle.com/uciml/student-alcohol-consumption/discussion/26889) uživatelé jejich přístup zpochybňují, protože nevyužili všechny atributy, které jsou pro oba předměty společné.  
Pro sloučení datasetů byly tedy použity všechny atributy kromě následujících specifických pro konkrétní předmět:
- failures - počet neúspěšných absolvování
- paid - zda byly placené lekce navíc
- absences - počet absencí
- G1
- G2
- G3

In [1403]:
identical_attributes = [
    "school",
    "sex",
    "age",
    "address",
    "famsize",
    "Pstatus",
    "Medu",
    "Fedu",
    "Mjob",
    "Fjob",
    "reason",
    "guardian",
    "traveltime",
    "studytime",
    "schoolsup",
    "famsup",
    "activities",
    "nursery",
    "higher",
    "internet",
    "romantic",
    "famrel",
    "freetime",
    "goout",
    "Dalc",
    "Walc",
    "health"
]

data = math.merge(
    portuguese,
    how='outer',
    on=identical_attributes,
    suffixes=('_math', '_portuguese')
)

> Byla použita funkce `pandas.DataFrame.merge` pro sloučení dvou DataFramů.
>
> Parametr `how=outer` sloučí všechna dostupná data obou DataFramů a žádná nevynechá.
>
> Parametr `on=identical_attributes` provede outer join s kombinací identických atributů pro oba DataFramy. Tyto atributy slouží jako indexy.
>
> Paramter `suffixes=('_math', '_portuguese')` vytvoří, v případě shodných atributů s rozdílnými hodnotami, nové sloupce významově náležící konkrétnímu předmětu.

## Atributy sloučeného datasetu obou předmětů
Sloučený dataset obsahuje 674 záznamů.

In [1404]:
all_records_count = data.count()

print('All merged attributes with number of records:\n')
print(all_records_count)

All merged attributes with number of records:

school                 674
sex                    674
age                    674
address                674
famsize                674
Pstatus                674
Medu                   674
Fedu                   674
Mjob                   674
Fjob                   674
reason                 674
guardian               674
traveltime             674
studytime              674
failures_math          395
schoolsup              674
famsup                 674
paid_math              395
activities             674
nursery                674
higher                 674
internet               674
romantic               674
famrel                 674
freetime               674
goout                  674
Dalc                   674
Walc                   674
health                 674
absences_math          395
G1_math                395
G2_math                395
G3_math                395
failures_portuguese    649
paid_portuguese        649
absences_portuguese    649
G1_portuguese          649
G2_portuguese          649
G3_portuguese          649
dtype: int64

## Počty studentů napříč předměty TODO: Znázornit v grafu
Tyto výpočty jsou určené ke kontrole.

In [1405]:
all_records_len = len(data)
math_records_len = len(math)
potuguese_records_len = len(portuguese)

only_math_records_len = all_records_len - potuguese_records_len
only_potuguese_records_len = all_records_len - math_records_len

both_records_len = all_records_len - (only_math_records_len + only_potuguese_records_len)

all_students_len = only_math_records_len + only_potuguese_records_len + only_both_records_len

print(f'Math students: {math_records_len}')
print(f'Portuguese students: {potuguese_records_len}')
print(f'Math only students: {only_math_records_len}')
print(f'Portuguese only students: {only_potuguese_records_len}')
print(f'Students with both classes: {both_records_len}')
print(f'\nSum of all students: {all_students_len}')

Math students: 395
Portuguese students: 649
Math only students: 25
Portuguese only students: 279
Students with both classes: 370

Sum of all students: 674

## Náhled sloučeného datasetu před úpravami

In [1406]:
data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures_math,schoolsup,famsup,paid_math,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences_math,G1_math,G2_math,G3_math,failures_portuguese,paid_portuguese,absences_portuguese,G1_portuguese,G2_portuguese,G3_portuguese
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0.0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6.0,5.0,6.0,6.0,0.0,no,4.0,0.0,11.0,11.0
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0.0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4.0,5.0,5.0,6.0,0.0,no,2.0,9.0,11.0,11.0
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3.0,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10.0,7.0,8.0,10.0,0.0,no,6.0,12.0,13.0,12.0
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0.0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2.0,15.0,14.0,15.0,0.0,no,0.0,14.0,14.0,14.0
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0.0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4.0,6.0,10.0,10.0,0.0,no,0.0,11.0,13.0,13.0
5,GP,M,16,U,LE3,T,4,3,services,other,reputation,mother,1,2,0.0,no,yes,yes,yes,yes,yes,yes,no,5,4,2,1,2,5,10.0,15.0,15.0,15.0,0.0,no,6.0,12.0,12.0,13.0
6,GP,M,16,U,LE3,T,2,2,other,other,home,mother,1,2,0.0,no,no,no,no,yes,yes,yes,no,4,4,4,1,1,3,0.0,12.0,12.0,11.0,0.0,no,0.0,13.0,12.0,13.0
7,GP,F,17,U,GT3,A,4,4,other,teacher,home,mother,2,2,0.0,yes,yes,no,no,yes,yes,no,no,4,1,4,1,1,1,6.0,6.0,5.0,6.0,0.0,no,2.0,10.0,13.0,13.0
8,GP,M,15,U,LE3,A,3,2,services,other,home,mother,1,2,0.0,no,yes,yes,no,yes,yes,yes,no,4,2,2,1,1,1,0.0,16.0,18.0,19.0,0.0,no,0.0,15.0,16.0,17.0
9,GP,M,15,U,GT3,T,3,4,other,other,home,mother,1,2,0.0,no,yes,yes,yes,yes,yes,yes,no,5,5,1,1,1,5,0.0,14.0,15.0,15.0,0.0,no,0.0,12.0,12.0,13.0
10,GP,F,15,U,GT3,T,4,4,teacher,health,reputation,mother,1,2,0.0,no,yes,yes,no,yes,yes,yes,no,3,3,3,1,2,2,0.0,10.0,8.0,9.0,0.0,no,2.0,14.0,14.0,14.0
11,GP,F,15,U,GT3,T,2,1,services,other,reputation,father,3,3,0.0,no,yes,no,yes,yes,yes,yes,no,5,2,2,1,1,4,4.0,10.0,12.0,12.0,0.0,no,0.0,10.0,12.0,13.0
12,GP,M,15,U,LE3,T,4,4,health,services,course,father,1,1,0.0,no,yes,yes,yes,yes,yes,yes,no,4,3,3,1,3,5,2.0,14.0,14.0,14.0,0.0,no,0.0,12.0,13.0,12.0
13,GP,M,15,U,GT3,T,4,3,teacher,other,course,mother,2,2,0.0,no,yes,yes,no,yes,yes,yes,no,5,4,3,1,2,3,2.0,10.0,10.0,11.0,0.0,no,0.0,12.0,12.0,13.0
14,GP,M,15,U,GT3,A,2,2,other,other,home,other,1,3,0.0,no,yes,no,no,yes,yes,yes,yes,4,5,2,1,1,3,0.0,14.0,16.0,16.0,0.0,no,0.0,14.0,14.0,15.0
15,GP,F,16,U,GT3,T,4,4,health,other,home,mother,1,1,0.0,no,yes,no,no,yes,yes,yes,no,4,4,4,1,2,2,4.0,14.0,14.0,14.0,0.0,no,6.0,17.0,17.0,17.0
16,GP,F,16,U,GT3,T,4,4,services,services,reputation,mother,1,3,0.0,no,yes,yes,yes,yes,yes,yes,no,3,2,3,1,2,2,6.0,13.0,14.0,14.0,0.0,no,10.0,13.0,13.0,14.0
17,GP,F,16,U,GT3,T,3,3,other,other,reputation,mother,3,2,0.0,yes,yes,no,yes,yes,yes,no,no,5,3,2,1,1,4,4.0,8.0,10.0,10.0,0.0,no,2.0,13.0,14.0,14.0
18,GP,M,17,U,GT3,T,3,2,services,services,course,mother,1,1,3.0,no,yes,no,yes,yes,yes,yes,no,5,5,5,2,4,5,16.0,6.0,5.0,5.0,3.0,yes,2.0,8.0,8.0,7.0
19,GP,M,16,U,LE3,T,4,3,health,other,home,father,1,1,0.0,no,no,yes,yes,yes,yes,yes,no,3,1,3,1,3,5,4.0,8.0,10.0,10.0,0.0,no,6.0,12.0,12.0,12.0
20,GP,M,15,U,GT3,T,4,3,teacher,other,reputation,mother,1,2,0.0,no,no,no,no,yes,yes,yes,no,4,4,1,1,1,1,0.0,13.0,14.0,15.0,0.0,no,0.0,12.0,13.0,14.0
21,GP,M,15,U,GT3,T,4,4,health,health,other,father,1,1,0.0,no,yes,yes,no,yes,yes,yes,no,5,4,2,1,1,5,0.0,12.0,15.0,15.0,0.0,yes,0.0,11.0,12.0,12.0
22,GP,M,16,U,LE3,T,4,2,teacher,other,course,mother,1,2,0.0,no,no,no,yes,yes,yes,yes,no,4,5,1,1,3,5,2.0,15.0,15.0,16.0,0.0,no,0.0,12.0,13.0,14.0
23,GP,M,16,U,LE3,T,2,2,other,other,reputation,mother,2,2,0.0,no,yes,no,yes,yes,yes,yes,no,5,4,4,2,4,5,0.0,13.0,13.0,12.0,0.0,no,2.0,10.0,10.0,10.0
24,GP,F,15,R,GT3,T,2,4,services,health,course,mother,1,3,0.0,yes,yes,yes,yes,yes,yes,yes,no,4,3,2,1,1,5,2.0,10.0,9.0,8.0,0.0,no,2.0,10.0,11.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
649,MS,F,18,U,GT3,T,1,1,other,other,course,mother,3,2,NaN,no,no,NaN,yes,yes,yes,no,yes,3,4,4,2,2,5,NaN,NaN,NaN,NaN,2.0,no,3.0,7.0,8.0,7.0
650,MS,F,18,U,GT3,T,2,2,services,at_home,reputation,father,2,2,NaN,no,no,NaN,yes,no,yes,yes,no,4,3,5,1,1,1,NaN,NaN,NaN,NaN,0.0,no,2.0,12.0,13.0,14.0
651,MS,F,17,U,GT3,T,3,3,services,services,course,mother,2,1,NaN,no,yes,NaN,no,yes,yes,yes,no,4,4,3,1,1,4,NaN,NaN,NaN,NaN,0.0,no,0.0,11.0,12.0,13.0
652,MS,F,18,U,LE3,A,1,2,at_home,other,reputation,mother,2,2,NaN,no,no,NaN,no,yes,yes,yes,no,4,4,3,1,2,4,NaN,NaN,NaN,NaN,0.0,no,0.0,12.0,13.0,14.0
653,MS,F,18,U,GT3,T,4,4,teacher,teacher,reputation,mother,2,2,NaN,no,no,NaN,yes,no,yes,yes,no,4,3,5,1,2,1,NaN,NaN,NaN,NaN,0.0,no,0.0,18.0,18.0,18.0
654,MS,M,18,U,LE3,T,4,4,services,other,reputation,mother,1,1,NaN,no,yes,NaN,yes,yes,yes,yes,no,5,4,5,1,1,5,NaN,NaN,NaN,NaN,0.0,no,3.0,17.0,17.0,17.0
655,MS,F,17,U,GT3,T,4,2,other,other,course,mother,2,2,NaN,no,yes,NaN,no,yes,yes,yes,no,4,3,3,1,2,4,NaN,NaN,NaN,NaN,0.0,no,0.0,17.0,18.0,18.0
656,MS,F,18,R,GT3,T,2,2,at_home,other,course,mother,3,2,NaN,no,no,NaN,yes,yes,yes,no,yes,4,3,3,1,1,4,NaN,NaN,NaN,NaN,1.0,no,0.0,9.0,0.0,0.0
657,MS,M,18,U,LE3,T,1,2,at_home,services,home,mother,2,1,NaN,no,yes,NaN,no,no,yes,no,no,4,1,4,5,5,1,NaN,NaN,NaN,NaN,0.0,no,8.0,10.0,11.0,11.0
658,MS,M,18,R,GT3,T,4,4,at_home,services,other,mother,3,1,NaN,no,yes,NaN,yes,yes,yes,yes,yes,2,5,5,1,1,1,NaN,NaN,NaN,NaN,0.0,yes,5.0,12.0,13.0,14.0
659,MS,M,17,R,GT3,T,1,1,other,services,other,father,3,1,NaN,no,no,NaN,no,no,no,no,no,4,2,3,3,4,4,NaN,NaN,NaN,NaN,0.0,no,4.0,12.0,13.0,14.0
660,MS,F,18,U,GT3,T,2,2,other,other,course,mother,2,2,NaN,no,yes,NaN,no,no,yes,yes,yes,1,3,1,1,1,2,NaN,NaN,NaN,NaN,0.0,no,4.0,8.0,8.0,10.0
661,MS,F,18,U,LE3,T,2,2,services,services,course,father,2,3,NaN,no,no,NaN,no,yes,yes,yes,yes,5,4,5,1,4,3,NaN,NaN,NaN,NaN,0.0,no,0.0,11.0,12.0,13.0
662,MS,F,18,R,LE3,A,4,2,teacher,other,reputation,mother,1,2,NaN,no,no,NaN,yes,yes,yes,yes,yes,5,3,1,1,1,5,NaN,NaN,NaN,NaN,0.0,no,0.0,5.0,0.0,0.0
663,MS,F,18,U,GT3,T,1,1,at_home,services,course,mother,3,2,NaN,no,no,NaN,no,yes,no,no,no,4,4,2,1,2,2,NaN,NaN,NaN,NaN,1.0,no,2.0,9.0,10.0,10.0
664,MS,F,19,U,GT3,T,1,1,at_home,services,other,father,2,1,NaN,no,no,NaN,no,yes,no,no,no,5,5,5,2,3,2,NaN,NaN,NaN,NaN,1.0,no,0.0,5.0,0.0,0.0
665,MS,F,17,U,GT3,T,4,2,teacher,other,course,father,2,4,NaN,no,no,NaN,no,yes,yes,yes,yes,4,2,3,3,1,5,NaN,NaN,NaN,NaN,0.0,no,0.0,18.0,18.0,18.0
666,MS,F,17,R,LE3,A,2,1,services,other,reputation,mother,2,2,NaN,no,no,NaN,yes,yes,yes,yes,yes,5,3,3,1,2,2,NaN,NaN,NaN,NaN,0.0,no,5.0,11.0,11.0,12.0
667,MS,F,18,U,LE3,A,1,1,at_home,services,course,mother,1,2,NaN,no,no,NaN,no,yes,yes,no,yes,5,2,3,1,2,3,NaN,NaN,NaN,NaN,0.0,no,2.0,8.0,10.0,11.0
668,MS,F,18,U,GT3,T,1,2,at_home,at_home,course,father,2,2,NaN,no,yes,NaN,no,yes,no,no,no,4,1,1,1,1,4,NaN,NaN,NaN,NaN,0.0,no,0.0,11.0,11.0,12.0
669,MS,F,19,R,GT3,A,1,1,at_home,at_home,course,other,2,2,NaN,no,yes,NaN,yes,yes,no,no,yes,3,5,4,1,4,1,NaN,NaN,NaN,NaN,3.0,no,0.0,8.0,0.0,0.0
670,MS,F,18,R,GT3,T,2,2,services,other,home,mother,2,3,NaN,no,no,NaN,no,yes,yes,yes,yes,4,2,1,1,1,4,NaN,NaN,NaN,NaN,0.0,no,5.0,14.0,14.0,15.0
671,MS,F,18,R,LE3,A,1,2,at_home,other,course,mother,3,2,NaN,no,no,NaN,no,yes,yes,no,yes,4,3,4,1,4,5,NaN,NaN,NaN,NaN,0.0,no,0.0,16.0,15.0,15.0
672,MS,F,19,R,GT3,T,1,1,at_home,other,course,other,2,2,NaN,no,yes,NaN,no,yes,yes,yes,yes,4,3,3,1,1,3,NaN,NaN,NaN,NaN,1.0,no,4.0,7.0,8.0,9.0
673,MS,F,17,U,GT3,T,4,3,teacher,other,other,mother,2,2,NaN,no,no,NaN,no,yes,yes,yes,no,5,5,4,1,1,1,NaN,NaN,NaN,NaN,0.0,no,0.0,6.0,9.0,11.0

## Přidání atributu `id` a nastavení indexu
Pro usnadnění práce a prevence chyb byl přidán inkrementální identifikační atribut `id`, který byl následně nastaven jako index DataFramu.

In [1407]:
data['id'] = data.index

print('Data:')
print(data.count())

Data:
school                 674
sex                    674
age                    674
address                674
famsize                674
Pstatus                674
Medu                   674
Fedu                   674
Mjob                   674
Fjob                   674
reason                 674
guardian               674
traveltime             674
studytime              674
failures_math          395
schoolsup              674
famsup                 674
paid_math              395
activities             674
nursery                674
higher                 674
internet               674
romantic               674
famrel                 674
freetime               674
goout                  674
Dalc                   674
Walc                   674
health                 674
absences_math          395
G1_math                395
G2_math                395
G3_math                395
failures_portuguese    649
paid_portuguese        649
absences_portuguese    649
G1_portuguese          649
G2_portuguese          649
G3_portuguese          649
id                     674
dtype: int64

## Výtvoření subsetů
Pro předzpracování dat je vhodné data rozdělit do skupin podle předmětů.

### Všichni studenti matematiky

In [1408]:
data_math = data[data['G1_math'].notnull()]
                 
print(f'Math students: {data_math.shape[0]}')

Math students: 395

### Všichni studenti portugalštiny

In [1409]:
data_portuguese = data[data['G1_portuguese'].notnull()]

print(f'Portuguese students: {data_portuguese.shape[0]}')

Portuguese students: 649

### Studentni obou předmětů

In [1410]:
data_both = data_math.merge(data_portuguese)

print(f'Students with both classes: {data_both.shape[0]}')

Students with both classes: 370

### Studenti pouze matematiky

In [1411]:
data_math_only = data[~data.id.isin(data_portuguese.id)]

print(f'Math only students: {data_math_only.shape[0]}')

Math only students: 25

### Studenti pouze portugalštiny

In [1412]:
data_portuguese_only = data[~data.id.isin(data_math.id)]

print(f'Portuguese only students: {data_portuguese_only.shape[0]}')

Portuguese only students: 279

## Vytvoření odvozených atributů

### Atribut `course`
Atribut `course` zařazuje studenty do skupin podle předmětů. Jedná se o nominální atribut nabývající hodnot:
- `M` pouze matematika
- `P` pouze portugalština
- `MP` oba předměty

In [1413]:
data.loc[data_math_only.id, 'course'] = 'M'
data.loc[data_portuguese_only.id, 'course'] = 'P'
data.loc[data_both.id, 'course'] = 'MP'

print('Sample of math only students:')
print(data.loc[data_math_only.id, ['course']].head(n=5))

print('\nSample of portuguese only students:')
print(data.loc[data_portuguese_only.id, ['course']].head(n=5))

print('\nSample of both courses students:')
print(data.loc[data_both.id, ['course']].head(n=5))

print('\nUnique values:')
print(data.course.unique())

Sample of math only students:
    course
128      M
161      M
162      M
163      M
165      M

Sample of portuguese only students:
    course
395      P
396      P
397      P
398      P
399      P

Sample of both courses students:
  course
0     MP
1     MP
2     MP
3     MP
4     MP

Unique values:
['MP' 'M' 'P']

## Ošetření chybějících hodnot
V původních rozdělených datasetech se nevyskytují chybějící hodnoty. Sloučením datasetů však vznikly případy s chybějícími hodnotami u studentů, kteří mají buď pouze matematiku, nebo pouze protugalštinu. K tomuto problému dochází u atributů pro konkrétní předmět.

Studenti pouze v matematice
- failures_portuguese
- paid_portuguese
- absences_portuguese
- G1_portuguese
- G2_portuguese
- G3_portuguese

Studenti pouze v portugalštině
- failures_math
- paid_math
- absences_math
- G1_math
- G2_math
- G3_math

### Atribut `failures_`
Atribut `failures_` je numerický atribut nabývající hodnot v intervalu `<0,3>`. Znázorňuje, kolikrát student nezvládl daný předmět v minulosti absolvovat. Chybějící hodnoty budou nastaveny na `0`.

In [1414]:
data.loc[data_math_only.id, 'failures_portuguese'] = 0
data.loc[data_portuguese_only.id, 'failures_math'] = 0

print('Sample of math only students:')
print(data.loc[data_math_only.id, ['failures_portuguese']].head(n=5))

print('\nSample of portuguese only students:')
print(data.loc[data_portuguese_only.id, ['failures_math']].head(n=5))

Sample of math only students:
     failures_portuguese
128                  0.0
161                  0.0
162                  0.0
163                  0.0
165                  0.0

Sample of portuguese only students:
     failures_math
395            0.0
396            0.0
397            0.0
398            0.0
399            0.0

### Atribut `paid_`
Atribut `paid` je binární atribut s hodnotami `yes` a `no`. Znázorňuje, zdali si student zaplatil za dodatečné lekce k danému předmětu. Pro studenta pouze jednoho předmětu bude tento atribut k druhému předmětu vždy `no`.

In [1415]:
data.loc[data_math_only.id, 'paid_portuguese'] = 'no'
data.loc[data_portuguese_only.id, 'paid_math'] = 'no'

print('Sample of math only students:')
print(data.loc[data_math_only.id, ['paid_portuguese']].head(n=5))

print('\nSAmple of portuguese only students:')
print(data.loc[data_portuguese_only.id, ['paid_math']].head(n=5))

Sample of math only students:
    paid_portuguese
128              no
161              no
162              no
163              no
165              no

SAmple of portuguese only students:
    paid_math
395        no
396        no
397        no
398        no
399        no

### Atribut `absences_`
Atribut `absences_` je numerický atribut nabývající hodnot v intervalu `<0,93>`. Znázorňuje, kolikrát student byl nepřítomen v daném předmětu. Chybějící hodnoty budou nastaveny na `0`.

In [1416]:
data.loc[data_math_only.id, 'absences_portuguese'] = 0
data.loc[data_portuguese_only.id, 'absences_math'] = 0

print('Sample of math only students:')
print(data.loc[data_math_only.id, ['absences_portuguese']].head(n=5))

print('\nSample of portuguese only students:')
print(data.loc[data_portuguese_only.id, ['absences_math']].head(n=5))

Sample of math only students:
     absences_portuguese
128                  0.0
161                  0.0
162                  0.0
163                  0.0
165                  0.0

Sample of portuguese only students:
     absences_math
395            0.0
396            0.0
397            0.0
398            0.0
399            0.0

### Atributy hodnocení  `G*_`
Atributy `G*_` jsou numerické atributy nabývající hodnot v intervalu `<0,20>`. Znázorňují hodnocení studentů. Chybějící hodnoty budou nastaveny na `0`.

In [1417]:
data.loc[data_math_only.id, ['G1_portuguese', 'G2_portuguese', 'G3_portuguese']] = 0
data.loc[data_portuguese_only.id, ['G1_math', 'G2_math', 'G3_math']] = 0

print('Sample of math only students:')
print(data.loc[data_math_only.id, ['G1_portuguese', 'G2_portuguese', 'G3_portuguese']].head(n=5))

print('\nSample of portuguese only students:')
print(data.loc[data_portuguese_only.id, ['G1_math', 'G2_math', 'G3_math']].head(n=5))

Sample of math only students:
     G1_portuguese  G2_portuguese  G3_portuguese
128            0.0            0.0            0.0
161            0.0            0.0            0.0
162            0.0            0.0            0.0
163            0.0            0.0            0.0
165            0.0            0.0            0.0

Sample of portuguese only students:
     G1_math  G2_math  G3_math
395      0.0      0.0      0.0
396      0.0      0.0      0.0
397      0.0      0.0      0.0
398      0.0      0.0      0.0
399      0.0      0.0      0.0

### Kontrola chybějících hodnot
Nyní mají všechny sloupce 674 záznamů.

In [1418]:
print(f'All data: {len(data)}')

print('\nData count:')
print(data.count())

All data: 674

Data count:
school                 674
sex                    674
age                    674
address                674
famsize                674
Pstatus                674
Medu                   674
Fedu                   674
Mjob                   674
Fjob                   674
reason                 674
guardian               674
traveltime             674
studytime              674
failures_math          674
schoolsup              674
famsup                 674
paid_math              674
activities             674
nursery                674
higher                 674
internet               674
romantic               674
famrel                 674
freetime               674
goout                  674
Dalc                   674
Walc                   674
health                 674
absences_math          674
G1_math                674
G2_math                674
G3_math                674
failures_portuguese    674
paid_portuguese        674
absences_portuguese    674
G1_portuguese          674
G2_portuguese          674
G3_portuguese          674
id                     674
course                 674
dtype: int64

## Upravení typů sloupců
Typy některých sloupců byly při sloučení DataFramů změněny. Děje se tak v případě rozdělených atributů se suffixy `_math` a `_portuguese`, protože sloučením vznikly chybějící hodnoty a typ těchto atributů byl v případě `int` změněn na `float`. Sloupce je po ošetření chybějících hodnot vhodné opět přetypovat na `int`.

In [1419]:
columns_to_retype = [
    'failures_math',
    'absences_math',
    'G1_math',
    'G2_math',
    'G3_math',
    'failures_portuguese',
    'absences_portuguese',
    'G1_portuguese',
    'G2_portuguese',
    'G3_portuguese'
]

data[columns_to_retype] = data[columns_to_retype].astype(int)

data.dtypes

school                 object
sex                    object
age                     int64
address                object
famsize                object
Pstatus                object
Medu                    int64
Fedu                    int64
Mjob                   object
Fjob                   object
reason                 object
guardian               object
traveltime              int64
studytime               int64
failures_math           int64
schoolsup              object
famsup                 object
paid_math              object
activities             object
nursery                object
higher                 object
internet               object
romantic               object
famrel                  int64
freetime                int64
goout                   int64
Dalc                    int64
Walc                    int64
health                  int64
absences_math           int64
G1_math                 int64
G2_math                 int64
G3_math                 int64
failures_portuguese     int64
paid_portuguese        object
absences_portuguese     int64
G1_portuguese           int64
G2_portuguese           int64
G3_portuguese           int64
id                      int64
course                 object
dtype: object

## Náhled dat před finální úpravou na strojově čitelné hodnoty

In [1420]:
data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures_math,schoolsup,famsup,paid_math,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences_math,G1_math,G2_math,G3_math,failures_portuguese,paid_portuguese,absences_portuguese,G1_portuguese,G2_portuguese,G3_portuguese,id,course
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6,0,no,4,0,11,11,0,MP
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6,0,no,2,9,11,11,1,MP
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10,0,no,6,12,13,12,2,MP
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15,0,no,0,14,14,14,3,MP
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10,0,no,0,11,13,13,4,MP
5,GP,M,16,U,LE3,T,4,3,services,other,reputation,mother,1,2,0,no,yes,yes,yes,yes,yes,yes,no,5,4,2,1,2,5,10,15,15,15,0,no,6,12,12,13,5,MP
6,GP,M,16,U,LE3,T,2,2,other,other,home,mother,1,2,0,no,no,no,no,yes,yes,yes,no,4,4,4,1,1,3,0,12,12,11,0,no,0,13,12,13,6,MP
7,GP,F,17,U,GT3,A,4,4,other,teacher,home,mother,2,2,0,yes,yes,no,no,yes,yes,no,no,4,1,4,1,1,1,6,6,5,6,0,no,2,10,13,13,7,MP
8,GP,M,15,U,LE3,A,3,2,services,other,home,mother,1,2,0,no,yes,yes,no,yes,yes,yes,no,4,2,2,1,1,1,0,16,18,19,0,no,0,15,16,17,8,MP
9,GP,M,15,U,GT3,T,3,4,other,other,home,mother,1,2,0,no,yes,yes,yes,yes,yes,yes,no,5,5,1,1,1,5,0,14,15,15,0,no,0,12,12,13,9,MP
10,GP,F,15,U,GT3,T,4,4,teacher,health,reputation,mother,1,2,0,no,yes,yes,no,yes,yes,yes,no,3,3,3,1,2,2,0,10,8,9,0,no,2,14,14,14,10,MP
11,GP,F,15,U,GT3,T,2,1,services,other,reputation,father,3,3,0,no,yes,no,yes,yes,yes,yes,no,5,2,2,1,1,4,4,10,12,12,0,no,0,10,12,13,11,MP
12,GP,M,15,U,LE3,T,4,4,health,services,course,father,1,1,0,no,yes,yes,yes,yes,yes,yes,no,4,3,3,1,3,5,2,14,14,14,0,no,0,12,13,12,12,MP
13,GP,M,15,U,GT3,T,4,3,teacher,other,course,mother,2,2,0,no,yes,yes,no,yes,yes,yes,no,5,4,3,1,2,3,2,10,10,11,0,no,0,12,12,13,13,MP
14,GP,M,15,U,GT3,A,2,2,other,other,home,other,1,3,0,no,yes,no,no,yes,yes,yes,yes,4,5,2,1,1,3,0,14,16,16,0,no,0,14,14,15,14,MP
15,GP,F,16,U,GT3,T,4,4,health,other,home,mother,1,1,0,no,yes,no,no,yes,yes,yes,no,4,4,4,1,2,2,4,14,14,14,0,no,6,17,17,17,15,MP
16,GP,F,16,U,GT3,T,4,4,services,services,reputation,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,no,3,2,3,1,2,2,6,13,14,14,0,no,10,13,13,14,16,MP
17,GP,F,16,U,GT3,T,3,3,other,other,reputation,mother,3,2,0,yes,yes,no,yes,yes,yes,no,no,5,3,2,1,1,4,4,8,10,10,0,no,2,13,14,14,17,MP
18,GP,M,17,U,GT3,T,3,2,services,services,course,mother,1,1,3,no,yes,no,yes,yes,yes,yes,no,5,5,5,2,4,5,16,6,5,5,3,yes,2,8,8,7,18,MP
19,GP,M,16,U,LE3,T,4,3,health,other,home,father,1,1,0,no,no,yes,yes,yes,yes,yes,no,3,1,3,1,3,5,4,8,10,10,0,no,6,12,12,12,19,MP
20,GP,M,15,U,GT3,T,4,3,teacher,other,reputation,mother,1,2,0,no,no,no,no,yes,yes,yes,no,4,4,1,1,1,1,0,13,14,15,0,no,0,12,13,14,20,MP
21,GP,M,15,U,GT3,T,4,4,health,health,other,father,1,1,0,no,yes,yes,no,yes,yes,yes,no,5,4,2,1,1,5,0,12,15,15,0,yes,0,11,12,12,21,MP
22,GP,M,16,U,LE3,T,4,2,teacher,other,course,mother,1,2,0,no,no,no,yes,yes,yes,yes,no,4,5,1,1,3,5,2,15,15,16,0,no,0,12,13,14,22,MP
23,GP,M,16,U,LE3,T,2,2,other,other,reputation,mother,2,2,0,no,yes,no,yes,yes,yes,yes,no,5,4,4,2,4,5,0,13,13,12,0,no,2,10,10,10,23,MP
24,GP,F,15,R,GT3,T,2,4,services,health,course,mother,1,3,0,yes,yes,yes,yes,yes,yes,yes,no,4,3,2,1,1,5,2,10,9,8,0,no,2,10,11,10,24,MP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
649,MS,F,18,U,GT3,T,1,1,other,other,course,mother,3,2,0,no,no,no,yes,yes,yes,no,yes,3,4,4,2,2,5,0,0,0,0,2,no,3,7,8,7,649,P
650,MS,F,18,U,GT3,T,2,2,services,at_home,reputation,father,2,2,0,no,no,no,yes,no,yes,yes,no,4,3,5,1,1,1,0,0,0,0,0,no,2,12,13,14,650,P
651,MS,F,17,U,GT3,T,3,3,services,services,course,mother,2,1,0,no,yes,no,no,yes,yes,yes,no,4,4,3,1,1,4,0,0,0,0,0,no,0,11,12,13,651,P
652,MS,F,18,U,LE3,A,1,2,at_home,other,reputation,mother,2,2,0,no,no,no,no,yes,yes,yes,no,4,4,3,1,2,4,0,0,0,0,0,no,0,12,13,14,652,P
653,MS,F,18,U,GT3,T,4,4,teacher,teacher,reputation,mother,2,2,0,no,no,no,yes,no,yes,yes,no,4,3,5,1,2,1,0,0,0,0,0,no,0,18,18,18,653,P
654,MS,M,18,U,LE3,T,4,4,services,other,reputation,mother,1,1,0,no,yes,no,yes,yes,yes,yes,no,5,4,5,1,1,5,0,0,0,0,0,no,3,17,17,17,654,P
655,MS,F,17,U,GT3,T,4,2,other,other,course,mother,2,2,0,no,yes,no,no,yes,yes,yes,no,4,3,3,1,2,4,0,0,0,0,0,no,0,17,18,18,655,P
656,MS,F,18,R,GT3,T,2,2,at_home,other,course,mother,3,2,0,no,no,no,yes,yes,yes,no,yes,4,3,3,1,1,4,0,0,0,0,1,no,0,9,0,0,656,P
657,MS,M,18,U,LE3,T,1,2,at_home,services,home,mother,2,1,0,no,yes,no,no,no,yes,no,no,4,1,4,5,5,1,0,0,0,0,0,no,8,10,11,11,657,P
658,MS,M,18,R,GT3,T,4,4,at_home,services,other,mother,3,1,0,no,yes,no,yes,yes,yes,yes,yes,2,5,5,1,1,1,0,0,0,0,0,yes,5,12,13,14,658,P
659,MS,M,17,R,GT3,T,1,1,other,services,other,father,3,1,0,no,no,no,no,no,no,no,no,4,2,3,3,4,4,0,0,0,0,0,no,4,12,13,14,659,P
660,MS,F,18,U,GT3,T,2,2,other,other,course,mother,2,2,0,no,yes,no,no,no,yes,yes,yes,1,3,1,1,1,2,0,0,0,0,0,no,4,8,8,10,660,P
661,MS,F,18,U,LE3,T,2,2,services,services,course,father,2,3,0,no,no,no,no,yes,yes,yes,yes,5,4,5,1,4,3,0,0,0,0,0,no,0,11,12,13,661,P
662,MS,F,18,R,LE3,A,4,2,teacher,other,reputation,mother,1,2,0,no,no,no,yes,yes,yes,yes,yes,5,3,1,1,1,5,0,0,0,0,0,no,0,5,0,0,662,P
663,MS,F,18,U,GT3,T,1,1,at_home,services,course,mother,3,2,0,no,no,no,no,yes,no,no,no,4,4,2,1,2,2,0,0,0,0,1,no,2,9,10,10,663,P
664,MS,F,19,U,GT3,T,1,1,at_home,services,other,father,2,1,0,no,no,no,no,yes,no,no,no,5,5,5,2,3,2,0,0,0,0,1,no,0,5,0,0,664,P
665,MS,F,17,U,GT3,T,4,2,teacher,other,course,father,2,4,0,no,no,no,no,yes,yes,yes,yes,4,2,3,3,1,5,0,0,0,0,0,no,0,18,18,18,665,P
666,MS,F,17,R,LE3,A,2,1,services,other,reputation,mother,2,2,0,no,no,no,yes,yes,yes,yes,yes,5,3,3,1,2,2,0,0,0,0,0,no,5,11,11,12,666,P
667,MS,F,18,U,LE3,A,1,1,at_home,services,course,mother,1,2,0,no,no,no,no,yes,yes,no,yes,5,2,3,1,2,3,0,0,0,0,0,no,2,8,10,11,667,P
668,MS,F,18,U,GT3,T,1,2,at_home,at_home,course,father,2,2,0,no,yes,no,no,yes,no,no,no,4,1,1,1,1,4,0,0,0,0,0,no,0,11,11,12,668,P
669,MS,F,19,R,GT3,A,1,1,at_home,at_home,course,other,2,2,0,no,yes,no,yes,yes,no,no,yes,3,5,4,1,4,1,0,0,0,0,3,no,0,8,0,0,669,P
670,MS,F,18,R,GT3,T,2,2,services,other,home,mother,2,3,0,no,no,no,no,yes,yes,yes,yes,4,2,1,1,1,4,0,0,0,0,0,no,5,14,14,15,670,P
671,MS,F,18,R,LE3,A,1,2,at_home,other,course,mother,3,2,0,no,no,no,no,yes,yes,no,yes,4,3,4,1,4,5,0,0,0,0,0,no,0,16,15,15,671,P
672,MS,F,19,R,GT3,T,1,1,at_home,other,course,other,2,2,0,no,yes,no,no,yes,yes,yes,yes,4,3,3,1,1,3,0,0,0,0,1,no,4,7,8,9,672,P
673,MS,F,17,U,GT3,T,4,3,teacher,other,other,mother,2,2,0,no,no,no,no,yes,yes,yes,no,5,5,4,1,1,1,0,0,0,0,0,no,0,6,9,11,673,P

## Předělání nominálních a binárních atributů

### Zkopírování datasetu

In [1421]:
data_processed = data.copy()

### Binární atributy s hodnotami `yes` a `no`
Binární sloupce nabyvající hodnot `yes` a `no` byly předělány strojově čitelnými hodnotami:
- `0` pro `no`
- `1` pro `yes`

In [1422]:
binary_columns = [
    'schoolsup',
    'famsup',
    'paid_math',
    'activities',
    'nursery',
    'higher',
    'internet',
    'romantic',
    'paid_portuguese'
]

data_processed[binary_columns] = data_processed[binary_columns].replace({'no':0, 'yes':1})

### Atribut `school`
Nominální atribut `school` nabývá hodnot `GP` pro školu Gabriel Pereira a `MS` pro Mousinho da Silveira. Atributy byly nahrazeny následovně:
- `0` pro `GP`
- `1` pro `MS`

In [1423]:
print(f'Possible values: {data_processed.school.unique()}')

data_processed['school'] = data_processed['school'].replace({'GP':0, 'MS':1})

print(f'Changed to values: {data_processed.school.unique()}')

Possible values: ['GP' 'MS']
Changed to values: [0 1]

### Atribut `sex`
Nominální atribut `sex` nabývá hodnot `GP` pro školu Gabriel Pereira a `MS` pro Mousinho da Silveira. Atributy byly nahrazeny následovně:
- `0` pro `GP`
- `1` pro `MS`

In [1424]:
print(f'Possible values: {data_processed.sex.unique()}')

data_processed['sex'] = data_processed['sex'].replace({'F':0, 'M':1})

print(f'Changed to values: {data_processed.sex.unique()}')

Possible values: ['F' 'M']
Changed to values: [0 1]

### Atribut `address`
Nominální atribut `address` nabývá hodnot `GP` pro školu Gabriel Pereira a `MS` pro Mousinho da Silveira. Atributy byly nahrazeny následovně:
- `0` pro `GP`
- `1` pro `MS`

In [1425]:
print(f'Possible values: {data_processed.address.unique()}')

data_processed['address'] = data_processed['address'].replace({'U':0, 'R':1})

print(f'Changed to values: {data_processed.address.unique()}')

Possible values: ['U' 'R']
Changed to values: [0 1]

### Atribut `famsize`
Nominální atribut `famsize` nabývá hodnot `GP` pro školu Gabriel Pereira a `MS` pro Mousinho da Silveira. Atributy byly nahrazeny následovně:
- `0` pro `GP`
- `1` pro `MS`

In [1426]:
print(f'Possible values: {data_processed.famsize.unique()}')

data_processed['famsize'] = data_processed['famsize'].replace({'GT3':0, 'LE3':1})

print(f'Changed to values: {data_processed.famsize.unique()}')

Possible values: ['GT3' 'LE3']
Changed to values: [0 1]

### Atribut `Pstatus`
Nominální atribut `Pstatus` nabývá hodnot `GP` pro školu Gabriel Pereira a `MS` pro Mousinho da Silveira. Atributy byly nahrazeny následovně:
- `0` pro `GP`
- `1` pro `MS`

In [1427]:
print(f'Possible values: {data_processed.Pstatus.unique()}')

data_processed['Pstatus'] = data_processed['Pstatus'].replace({'A':0, 'T':1})

print(f'Changed to values: {data_processed.Pstatus.unique()}')

Possible values: ['A' 'T']
Changed to values: [0 1]

### Atribut `Mjob` a `Fjob`
Nominální atribut `Mjob` nabývá hodnot `GP` pro školu Gabriel Pereira a `MS` pro Mousinho da Silveira. Atributy byly nahrazeny následovně:
- `0` pro `GP`
- `1` pro `MS`

In [1428]:
print(f'Possible Mjob values: {data_processed.Mjob.unique()}')
print(f'Possible Fjob values: {data_processed.Fjob.unique()}')

enum = {
    'at_home':0,
    'health':1,
    'other':2,
    'services':3,
    'teacher':4
}

data_processed[['Mjob', 'Fjob']] = data_processed[['Mjob', 'Fjob']].replace(enum)

print(f'\nMjob changed to values: {data_processed.Mjob.unique()}')
print(f'Fjob changed to values: {data_processed.Fjob.unique()}')

Possible Mjob values: ['at_home' 'health' 'other' 'services' 'teacher']
Possible Fjob values: ['teacher' 'other' 'services' 'health' 'at_home']

Mjob changed to values: [0 1 2 3 4]
Fjob changed to values: [4 2 3 1 0]

### Atribut `reason`
Nominální atribut `reason` nabývá hodnot `GP` pro školu Gabriel Pereira a `MS` pro Mousinho da Silveira. Atributy byly nahrazeny následovně:
- `0` pro `GP`
- `1` pro `MS`

In [1429]:
print(f'Possible values: {data_processed.reason.unique()}')

enum = {
    'course':0,
    'other':1,
    'home':2,
    'reputation':3
}

data_processed['reason'] = data_processed['reason'].replace(enum)

print(f'Changed to values: {data_processed.reason.unique()}')

Possible values: ['course' 'other' 'home' 'reputation']
Changed to values: [0 1 2 3]

### Atribut `guardian`
Nominální atribut `guardian` nabývá hodnot `GP` pro školu Gabriel Pereira a `MS` pro Mousinho da Silveira. Atributy byly nahrazeny následovně:
- `0` pro `GP`
- `1` pro `MS`

In [1430]:
print(f'Possible values: {data_processed.guardian.unique()}')

data_processed['guardian'] = data_processed['guardian'].replace({'mother':0, 'father':1, 'other':2})

print(f'Changed to values: {data_processed.guardian.unique()}')

Possible values: ['mother' 'father' 'other']
Changed to values: [0 1 2]

### Atribut `course`
Nominální atribut `course` nabývá hodnot `GP` pro školu Gabriel Pereira a `MS` pro Mousinho da Silveira. Atributy byly nahrazeny následovně:
- `0` pro `GP`
- `1` pro `MS`

In [1431]:
print(f'Possible values: {data_processed.course.unique()}')

data_processed['course'] = data_processed['course'].replace({'M':0, 'P':1, 'MP':2})

print(f'Changed to values: {data_processed.course.unique()}')

Possible values: ['MP' 'M' 'P']
Changed to values: [2 0 1]

## Náhled na data připravená pro data science

In [1432]:
data_processed

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures_math,schoolsup,famsup,paid_math,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences_math,G1_math,G2_math,G3_math,failures_portuguese,paid_portuguese,absences_portuguese,G1_portuguese,G2_portuguese,G3_portuguese,id,course
0,0,0,18,0,0,0,4,4,0,4,0,0,2,2,0,1,0,0,0,1,1,0,0,4,3,4,1,1,3,6,5,6,6,0,0,4,0,11,11,0,2
1,0,0,17,0,0,1,1,1,0,2,0,1,1,2,0,0,1,0,0,0,1,1,0,5,3,3,1,1,3,4,5,5,6,0,0,2,9,11,11,1,2
2,0,0,15,0,1,1,1,1,0,2,1,0,1,2,3,1,0,1,0,1,1,1,0,4,3,2,2,3,3,10,7,8,10,0,0,6,12,13,12,2,2
3,0,0,15,0,0,1,4,2,1,3,2,0,1,3,0,0,1,1,1,1,1,1,1,3,2,2,1,1,5,2,15,14,15,0,0,0,14,14,14,3,2
4,0,0,16,0,0,1,3,3,2,2,2,1,1,2,0,0,1,1,0,1,1,0,0,4,3,2,1,2,5,4,6,10,10,0,0,0,11,13,13,4,2
5,0,1,16,0,1,1,4,3,3,2,3,0,1,2,0,0,1,1,1,1,1,1,0,5,4,2,1,2,5,10,15,15,15,0,0,6,12,12,13,5,2
6,0,1,16,0,1,1,2,2,2,2,2,0,1,2,0,0,0,0,0,1,1,1,0,4,4,4,1,1,3,0,12,12,11,0,0,0,13,12,13,6,2
7,0,0,17,0,0,0,4,4,2,4,2,0,2,2,0,1,1,0,0,1,1,0,0,4,1,4,1,1,1,6,6,5,6,0,0,2,10,13,13,7,2
8,0,1,15,0,1,0,3,2,3,2,2,0,1,2,0,0,1,1,0,1,1,1,0,4,2,2,1,1,1,0,16,18,19,0,0,0,15,16,17,8,2
9,0,1,15,0,0,1,3,4,2,2,2,0,1,2,0,0,1,1,1,1,1,1,0,5,5,1,1,1,5,0,14,15,15,0,0,0,12,12,13,9,2
10,0,0,15,0,0,1,4,4,4,1,3,0,1,2,0,0,1,1,0,1,1,1,0,3,3,3,1,2,2,0,10,8,9,0,0,2,14,14,14,10,2
11,0,0,15,0,0,1,2,1,3,2,3,1,3,3,0,0,1,0,1,1,1,1,0,5,2,2,1,1,4,4,10,12,12,0,0,0,10,12,13,11,2
12,0,1,15,0,1,1,4,4,1,3,0,1,1,1,0,0,1,1,1,1,1,1,0,4,3,3,1,3,5,2,14,14,14,0,0,0,12,13,12,12,2
13,0,1,15,0,0,1,4,3,4,2,0,0,2,2,0,0,1,1,0,1,1,1,0,5,4,3,1,2,3,2,10,10,11,0,0,0,12,12,13,13,2
14,0,1,15,0,0,0,2,2,2,2,2,2,1,3,0,0,1,0,0,1,1,1,1,4,5,2,1,1,3,0,14,16,16,0,0,0,14,14,15,14,2
15,0,0,16,0,0,1,4,4,1,2,2,0,1,1,0,0,1,0,0,1,1,1,0,4,4,4,1,2,2,4,14,14,14,0,0,6,17,17,17,15,2
16,0,0,16,0,0,1,4,4,3,3,3,0,1,3,0,0,1,1,1,1,1,1,0,3,2,3,1,2,2,6,13,14,14,0,0,10,13,13,14,16,2
17,0,0,16,0,0,1,3,3,2,2,3,0,3,2,0,1,1,0,1,1,1,0,0,5,3,2,1,1,4,4,8,10,10,0,0,2,13,14,14,17,2
18,0,1,17,0,0,1,3,2,3,3,0,0,1,1,3,0,1,0,1,1,1,1,0,5,5,5,2,4,5,16,6,5,5,3,1,2,8,8,7,18,2
19,0,1,16,0,1,1,4,3,1,2,2,1,1,1,0,0,0,1,1,1,1,1,0,3,1,3,1,3,5,4,8,10,10,0,0,6,12,12,12,19,2
20,0,1,15,0,0,1,4,3,4,2,3,0,1,2,0,0,0,0,0,1,1,1,0,4,4,1,1,1,1,0,13,14,15,0,0,0,12,13,14,20,2
21,0,1,15,0,0,1,4,4,1,1,1,1,1,1,0,0,1,1,0,1,1,1,0,5,4,2,1,1,5,0,12,15,15,0,1,0,11,12,12,21,2
22,0,1,16,0,1,1,4,2,4,2,0,0,1,2,0,0,0,0,1,1,1,1,0,4,5,1,1,3,5,2,15,15,16,0,0,0,12,13,14,22,2
23,0,1,16,0,1,1,2,2,2,2,3,0,2,2,0,0,1,0,1,1,1,1,0,5,4,4,2,4,5,0,13,13,12,0,0,2,10,10,10,23,2
24,0,0,15,1,0,1,2,4,3,1,0,0,1,3,0,1,1,1,1,1,1,1,0,4,3,2,1,1,5,2,10,9,8,0,0,2,10,11,10,24,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
649,1,0,18,0,0,1,1,1,2,2,0,0,3,2,0,0,0,0,1,1,1,0,1,3,4,4,2,2,5,0,0,0,0,2,0,3,7,8,7,649,1
650,1,0,18,0,0,1,2,2,3,0,3,1,2,2,0,0,0,0,1,0,1,1,0,4,3,5,1,1,1,0,0,0,0,0,0,2,12,13,14,650,1
651,1,0,17,0,0,1,3,3,3,3,0,0,2,1,0,0,1,0,0,1,1,1,0,4,4,3,1,1,4,0,0,0,0,0,0,0,11,12,13,651,1
652,1,0,18,0,1,0,1,2,0,2,3,0,2,2,0,0,0,0,0,1,1,1,0,4,4,3,1,2,4,0,0,0,0,0,0,0,12,13,14,652,1
653,1,0,18,0,0,1,4,4,4,4,3,0,2,2,0,0,0,0,1,0,1,1,0,4,3,5,1,2,1,0,0,0,0,0,0,0,18,18,18,653,1
654,1,1,18,0,1,1,4,4,3,2,3,0,1,1,0,0,1,0,1,1,1,1,0,5,4,5,1,1,5,0,0,0,0,0,0,3,17,17,17,654,1
655,1,0,17,0,0,1,4,2,2,2,0,0,2,2,0,0,1,0,0,1,1,1,0,4,3,3,1,2,4,0,0,0,0,0,0,0,17,18,18,655,1
656,1,0,18,1,0,1,2,2,0,2,0,0,3,2,0,0,0,0,1,1,1,0,1,4,3,3,1,1,4,0,0,0,0,1,0,0,9,0,0,656,1
657,1,1,18,0,1,1,1,2,0,3,2,0,2,1,0,0,1,0,0,0,1,0,0,4,1,4,5,5,1,0,0,0,0,0,0,8,10,11,11,657,1
658,1,1,18,1,0,1,4,4,0,3,1,0,3,1,0,0,1,0,1,1,1,1,1,2,5,5,1,1,1,0,0,0,0,0,1,5,12,13,14,658,1
659,1,1,17,1,0,1,1,1,2,3,1,1,3,1,0,0,0,0,0,0,0,0,0,4,2,3,3,4,4,0,0,0,0,0,0,4,12,13,14,659,1
660,1,0,18,0,0,1,2,2,2,2,0,0,2,2,0,0,1,0,0,0,1,1,1,1,3,1,1,1,2,0,0,0,0,0,0,4,8,8,10,660,1
661,1,0,18,0,1,1,2,2,3,3,0,1,2,3,0,0,0,0,0,1,1,1,1,5,4,5,1,4,3,0,0,0,0,0,0,0,11,12,13,661,1
662,1,0,18,1,1,0,4,2,4,2,3,0,1,2,0,0,0,0,1,1,1,1,1,5,3,1,1,1,5,0,0,0,0,0,0,0,5,0,0,662,1
663,1,0,18,0,0,1,1,1,0,3,0,0,3,2,0,0,0,0,0,1,0,0,0,4,4,2,1,2,2,0,0,0,0,1,0,2,9,10,10,663,1
664,1,0,19,0,0,1,1,1,0,3,1,1,2,1,0,0,0,0,0,1,0,0,0,5,5,5,2,3,2,0,0,0,0,1,0,0,5,0,0,664,1
665,1,0,17,0,0,1,4,2,4,2,0,1,2,4,0,0,0,0,0,1,1,1,1,4,2,3,3,1,5,0,0,0,0,0,0,0,18,18,18,665,1
666,1,0,17,1,1,0,2,1,3,2,3,0,2,2,0,0,0,0,1,1,1,1,1,5,3,3,1,2,2,0,0,0,0,0,0,5,11,11,12,666,1
667,1,0,18,0,1,0,1,1,0,3,0,0,1,2,0,0,0,0,0,1,1,0,1,5,2,3,1,2,3,0,0,0,0,0,0,2,8,10,11,667,1
668,1,0,18,0,0,1,1,2,0,0,0,1,2,2,0,0,1,0,0,1,0,0,0,4,1,1,1,1,4,0,0,0,0,0,0,0,11,11,12,668,1
669,1,0,19,1,0,0,1,1,0,0,0,2,2,2,0,0,1,0,1,1,0,0,1,3,5,4,1,4,1,0,0,0,0,3,0,0,8,0,0,669,1
670,1,0,18,1,0,1,2,2,3,2,2,0,2,3,0,0,0,0,0,1,1,1,1,4,2,1,1,1,4,0,0,0,0,0,0,5,14,14,15,670,1
671,1,0,18,1,1,0,1,2,0,2,0,0,3,2,0,0,0,0,0,1,1,0,1,4,3,4,1,4,5,0,0,0,0,0,0,0,16,15,15,671,1
672,1,0,19,1,0,1,1,1,0,2,0,2,2,2,0,0,1,0,0,1,1,1,1,4,3,3,1,1,3,0,0,0,0,1,0,4,7,8,9,672,1
673,1,0,17,0,0,1,4,3,4,2,1,0,2,2,0,0,0,0,0,1,1,1,0,5,5,4,1,1,1,0,0,0,0,0,0,0,6,9,11,673,1